/* eu não usuaria tantas coisas no seletor universal */
* {
	box-sizing: border-box;
}

/* hack util :) */
img {
    max-width: 100%;
}

body {
    padding: 0;
    margin: 0;
	font: 100% 'Muli', sans-serif, Montserrat Alternates, sans-serif;
} /*'Merriweather Sans', sans-serif;*/

@import url('https://fonts.googleapis.com/css?family=Muli');

/*=====|Header|=====*/
.containerHeader{
	width: 100%;
	/*max-height: 695px;*/
	/*position: relative;*/
}
.containerHeader-barraSuperior{
	display: flex;
	justify-content: space-between;
	padding-left: 2%;
	padding-right: 2%;
}
.blocoLogo{
	/*width: 260px;*/
}
.blocoLogo-logo{
	/*width: 260px;*/
}
.blocoMenu{
	/*width: 70%;*/
	/*position: relative;*/
	/*left: 230px;*/
	/*bottom: 80px;*/
	display: flex;
	margin-top: 3%;
	/*justify-content: flex-end;*/
}
.blocoMenu-link{
	font-family: 'Muli', sans-serif;
	color: rgba(238,51,37,1);
	font-size: 1.2rem;
	margin-left: 30px; 
}
.blocoLanguage{
	/*width: 30px;*/
	font-family: 'Muli', sans-serif;
	margin-left: 50px;
	/*left: 90%;*/
	/*bottom: 606px;*/
	/*position: absolute;*/
}
.blocoLanguage-link{
	color: black;
	font-size: 0.7rem;
}
.blocoLanguage span{
	font-weight: bolder;
}
/*=====|Titulo e imagem Header|=====*/
.blocoTituloImagem{
	width: 100%;
}
.blocoTituloImagem:before{
	position: absolute;
	content:'';
	width: 100%;
	height: 50%;
	top: 50%;
	background: rgba(0,131,202,0);
	background: linear-gradient(to bottom, rgba(0,131,202,0) 0%, rgba(0,131,202,0.62) 62%, rgba(0,131,202,1) 100%);
}
.blocoTituloImagem-tituloHeader{
	width: 30%;
	font-family: 'Muli', sans-serif;
	font-size: 3rem;
	font-weight: bold;
	color: white;
	position: absolute;
	top: 35%;
	left: 10%;
}
.blocoTituloImagem{
    position: relative;
    /* eu usaria aqui 80vh */
	min-height: 80vh;
    background-image: url("../assets/female-farmer-kenya-west.png");
    /* eu usaria cover */
	background-size: 125% 100%; 
	background-repeat: no-repeat;
}
/*==========*/

/*=====|Produtos|=====*/
.container{
	background-color: rgba(0,131,202,1);
	padding: 200px 0 200px 0;
}
.container-titulo{
	margin-left: 5%;
	color: white;
	font-size: 2rem;
}
.containerProdutos{
	display: flex;
	justify-content: space-around;
	/*margin: 0 auto;*/
	/*width: 100%;*/
}
.containerProdutos-bloco{
	margin-top: 5%;
	/*display: flex;*/
	/*justify-content: space-around;*/
}
.containerProdutos-bloco-titulo{
	color: white;
	text-align: center;
}
.containerProdutos-bloco-paragrafo{
	color: white;
	text-align: center;
	width: 200px;
	margin-left: 7%;
	font-size: 1.2rem;
}
/*==========*/
/*=====|Apresentação Simulador|=====*/
.containerSimulador{
	display: flex;
	justify-content: space-between;
	background-color: rgba(0,131,202,1);
	padding: 10%;
}
.containerSimulador-formulario{
	/*display: flex;*/
	width: 450px;
	border: 3px solid white;
	border-radius: 10%;
	background-color: white;
	/*padding: 2%; */
}
.containerSimulador-formulario label{
	margin: 0 auto;
	width: 400px;
	border-radius: 15%;
	/*padding: 20%;*/
	display: flex;
	background-color: rgba(0,131,202,1);
}
.containerSimulador-select{
	/*padding: 15%;*/
	/*width: 20px;*/
	height: 70px;
	margin: 0 auto;
	/*border-radius: 50%;*/
	/*padding-top: 5%;*/
	background-color: rgba(0,131,202,1);
}
.containerSimulador-select option{
	
}
input{
	display: flex;
	width: 90%;
	margin-top: 20%;
	border-bottom: 1px solid black;
}
.containerSimulador-texto{
	padding-top: 10%;
	/*padding-bottom: 5%;*/
}

/*==========*/
/*=====|Apresentação Simulador - Bloco lateral|=====*/
.containerSimulador-blocoLateral{
	/*margin-left: -35%;*/
	width: 380px;
	/*height: 400px;*/
	/*background: black;*/
}
.containerSimulador-titulo{
	color: white;
	font-size: 2.5rem;
	width: 270px;
}
.containerSimulador-subTitulo{
	color: white;
	padding-top: 10%;
	font-size: 1rem;
	width: 250px;
}
.containerSimulador-paises{
	padding-top: 10%;
}
.containerSimulador-bandeira{
	display: flex;
	margin-top: -5%;
}
.containerSimulador-nome{
	color: white;
	margin-top: 5%;
}
/*==========*/
/*=====|Apresentação Slide|=====*/
.containerSlide{
	display: flex;
	justify-content: space-around;
	/*margin: 0 auto;*/
	/*position: relative;*/
	/*padding-bottom: 10%;*/
	/*max-width: 100%*/
	/*background-color: rgba(0,131,202,1);*/
	background: linear-gradient(to bottom, rgba(0,131,202,1) 0%, rgba(0,131,202,1) 50%, rgba(0,89,202,1) 100%);
}
.slide{
	display: flex;
	flex-direction: row;
	width: 300px;	
	height: 350px;
	position: relative;
	left: 150px;
	/*bottom: 70px;*/
	background-color: white;
	border-radius: 5%;
	box-shadow: 0px 1px 54px -20px rgba(0,0,0,0.75);
}
input{
	display: none;
}
input:checked ~ .slide-segundoBloco{
	display: none;
}
.slide-segundoBloco,.slide-primeiroBloco{
	cursor: pointer;
}
.slide-primeiroBloco::before{
	content:'>';
	color: white;
	font-weight: bolder;
	font-size: 50px;
	position: absolute;
	top: 150px;
	left: 350px;
}
.slide-primeiroBloco::after{
	content:'<';
	color: white;
	font-weight: bolder;
	font-size: 50px;
	position: absolute;
	top: 150px;
	right: 350px;
}
.slide-primeiroBloco-img,.slide-segundoBloco-img{
	position: absolute;
	left: 15px;
	top: 15px;
	width: 270px;
	height: 200px;
	border-radius: 5%;
}
.slide-primeiroBloco-paragrafo{	
	margin-top: 70%;
	padding: 5%; 
	font-size: 0.7rem;
	font-family: 'Merriweather Sans', sans-serif;
}
.slide-primeiroBloco-titulo{
	padding: 5%;
	padding-top: 0;
	font-size: 0.8rem;
	font-family: 'Merriweather Sans', sans-serif;
}
.containerSlide-titulo{
	width: 400px;
	font-size: 2.2rem;
	color: white;
	margin-left: 200px;
	padding-top: 30%;
	z-index: 5;
	position: relative;
}
.containerSlide-blocoLateral{
	width: 700px;
	height: 610px;
	position: relative;
	overflow: hidden;
	/*background: black;*/
	left: 6.5%;
	bottom: 50px;
	padding-bottom: 400px;
}
.primeiroCirculo{
	position: absolute;
	width: 150px;
}
.primeiroCirculo:before{
	position: absolute;
	content:'';
	width: 250px;
	height: 250px;
	border-radius: 50%;
	top: 30px;
	left: 35%;
	/*bottom: 10%;*/
	background-color: #459FD9;
	opacity: 0.5;
	z-index: 4;
}
.segundoCirculo:before{
	position: absolute;
	content:'';
	width: 600px;
	height: 600px;
	border-radius: 50%;
	top: 1%;
	left: 30%;
	bottom: 10%;
	background-color: #459FD9;
	opacity: 0.5;
	z-index: 3;
}
/*=====|Agência|=====*/
.containerAgencia{
	display: flex;
	justify-content: space-around;
	padding: 5% 0 5% 0; 
	background-color: #F8F8F8;
}
.containerAgencia-titulo{
	width: 350px;
	font-size: 3rem;
	color: rgba(238, 51, 37, 1);
	/*position: relative;
	left: 145px;
	top: 103px;*/
}
.containerAgencia-form{
	width: 200px;
	/*position: relative;
	left: 60%;*/
	color: rgba(107, 107, 107, 1);
}
.containerAgencia-form select{
	background-color: #F8F8F8;
	width: 250px;
	/*margin-top: 5%;*/
	cursor: pointer;
	border-bottom: 1px solid black; 
	margin: 5% 0 5% 0;
}
.containerAgencia-botao{
	background-color: #F8F8F8;
	color: #459FD9;
	padding-left: 195px;
	/*text-align: right;*/
	cursor: pointer;
}
.containerMap{
	background: white;
	width: 220px;
	height: 220px;
	/*padding-bottom: 10px;*/
	box-shadow: 0px 2px 13px 1px rgba(0,0,0,0.20);
	/*position: relative;*/
}
.containerMap-map{
	margin: 2% auto 0 auto;
}
.containerMap-texto{
	margin: 0 auto;
	/*padding-bottom: 5px;*/
	width: 190px;
	/*height: 10px;*/
	font-size: 0.7rem;
	font-weight: bold;
	/*position: absolute;*/
}
/*=====|Notícias|=====*/
.containerNoticias{
	display: flex;
	justify-content: space-around;
	margin: 5%;
	width: 90%;
}
.containerNoticias-TituloSecoes{
	display: flex;
	flex-direction: column;
	width: 50%;
}
.containerNoticias-titulo{
	color: #459FD9;
	margin-bottom: 3%;
	font-size: 2rem;
}
.containerNoticias-secoes{
	display: flex;
	/*justify-content: space-around;*/
	/*width: 60%;*/
	height: 190px;
	/*height: 150%;*/
	padding: 2%;
	background-color: #F8F8F8;
	border-radius: 5%;
	margin-bottom: 2%;
	box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.20);
}
.reverse{
	flex-direction: row-reverse;
	/*text-align: right;*/
}
.containerNoticias-imagem{
	width: 200px;
	height: 150px;
	margin-left: 4%;
	margin-right: 2%;
}
.containerNoticias-blocoTituloTexto-titulo{
	font-size: 1rem;
	width: 300px;
	margin-left: 5%;
	/*margin-top: 1%;*/
	margin-bottom: 2%;
	/*margin-right: 3%;*/
}
.containerNoticias-blocoTituloTexto-texto{
	font-size: 0.7rem;
	width: 300px;
	margin-left: 5%;
	/*margin-right: 5%;
	margin-top: 5%;*/
}
.containerNoticias-showMore{
	/*display: flex;*/
	/*align-items: center;*/
	margin: 0 auto;
	font-size: 0.8rem;
	color: #459FD9;
}
/*==========*/
/*=====|News|=====*/
.containerNoticias-news{
	/*margin-right: 10%;*/
	width: 30%;
	height: 700px;
	background: #FFDFDF;
	padding: 1%;
}
.containerNoticias-news-titulo{
	padding: 2%;
	width: 100%;
	color: white;
	background: #D51111;
}
.containerNoticias-news-tituloSubTexto{

}
.containerNoticias-news-subTitulo{
	font-size: 1rem;
	padding: 8% 1% 0 1%;
}
.containerNoticias-news-texto{
	font-size: 0.8rem;
	padding: 5% 1%;
}
.containerNoticias-news-texto:after{
	content:'';
	position: absolute;
	width: 200px;
	height: 1px;
	/*top: 5px;*/
	margin-top: 30px;
	right: 16%;
	background: black;
	opacity: 0.1;
}
.containerNoticias-showMoreNews{
	/*margin: 0 auto;*/
	padding: 0 30%;
	/*margin-top: 5%;*/
	font-size: 0.8rem;
	color: #459FD9;
}
/*==========*/
/*=====|Patrocinadores|=====*/
.containerNoticias-patrocinadores{
	width: 900px;
	margin: 0 auto;
	display: flex;
	/*justify-content: space-around;*/
	justify-content: center;
	/*flex-direction: column;*/
	/*align-content: center;*/
	flex-wrap: wrap;
	/*padding: 10%;*/
}
.containerNoticias-patrocinadores img{
	/*width: 80px;*/
	height: 50px;
	/*display: flex;*/
	/*align-content: space-around;*/
	margin: 15px;
}
.containerNoticias-patrocinadores-bancos{
	display: flex;
	justify-content: space-around;
	width: 500px;
	margin: 20px 0;
}
.containerNoticias-patrocinadores-instituicoes{
	display: flex;
	justify-content: space-around;
	width: 700px;
	margin: 20px 0;
}
.containerNoticias-patrocinadores-titulo{
	font-weight: 100;
	font-size: 1.3rem;
	width: 500px;
	margin-right: 150px;
}